* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: whitesmoke;
}

header {
  position: fixed;
  width: 100%;
  background-color: #562b81;
}

.page-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.header-title {
  color: white;
  font-weight: 400;
}

.entries-nav {
  margin-left: 2rem;
  font-size: large;
  color: white;
  text-decoration: none;
}

.entries-nav:hover {
  text-decoration: underline;
}

label,
input,
textarea {
  display: block;
  width: 100%;
}

input,
textarea {
  margin-bottom: 2rem;
  padding: 0.5rem;
  font-size: larger;
  border: 1px solid grey;
  border-radius: 0.25rem;
}

input:focus,
textarea:focus {
  outline-color: #562b81;
}

label {
  margin-bottom: 1rem;
  font-size: larger;
  font-weight: 600;
}

.photo-preview,
.entry-photo {
  margin-bottom: 2rem;
  border: none;
  border-radius: 0.25rem;
  width: 100%;
  height: 24rem;
  object-fit: cover;
}

.save-button-container {
  display: flex;
  justify-content: flex-end;
}

.delete-entry-button-container,
.entries-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.save-button,
.new-form-button {
  padding: 0.5rem 1.25rem;
  background-color: #562b81;
  color: white;
  font-size: large;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
}

.save-button:hover,
.new-form-button:hover {
  background-color: #7c40a9;
}

.delete-entry-button {
  background-color: whitesmoke;
  color: #dc2626;
  font-size: large;
  border: none;
  text-decoration: underline;
  cursor: pointer;
}

.delete-entry-button:hover {
  color: #ef8089;
}

.no-entry {
  text-align: center;
}

.entries-container {
  padding-left: 0;
  list-style: none;
}

.entry {
  margin-bottom: 1.5rem;
}

.title-edit-container {
  display: flex;
  justify-content: space-between;
}

.entry-title {
  margin-top: 0;
}

.entry-edit-icon {
  color: #562b81;
  font-size: 1.75rem;
  cursor: pointer;
}

.entry-edit-icon:hover {
  color: #7c40a9;
}

.entry-notes {
  line-height: 1.5rem;
}

.modal {
  background-color: rgb(0 0 0 / 85%);
  width: 100%;
  height: 100%;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
}

.modal-content {
  margin: 20rem auto;
  padding-top: 1.5rem;
  background-color: white;
  width: 28rem;
  max-width: 100%;
  border-radius: 5px;
}

.question {
  font-size: large;
  font-weight: bold;
}

.cancel-confirm-container {
  display: flex;
  justify-content: space-between;
  margin-block: 1rem;
}

.cancel-button,
.confirm-button {
  padding: 0.5rem;
  font-size: 1.2rem;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
}

.cancel-button {
  background-color: darkgray;
}

.cancel-button:hover {
  background-color: lightgrey;
}

.confirm-button {
  background-color: #dc2626;
  color: white;
}

.confirm-button:hover {
  background-color: #f02020;
}
